<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
    <p>
        <input type="text" id="roomName" />
        <button type="button" onclick="location.href='/game/' + document.querySelector('#roomName').value">Go</button>
    </p>
  </div>
</div>

